/* ROLAGEM LENTA */
* {
    scroll-behavior: smooth;
}

/* FORMATAÇÃO DA PÁGINA */
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

/* TOPO */
.secao-topo {
    border-bottom: 1px solid #d5d5d5;
}

.secao-largura-limitada {
    width: 800px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    margin: 10px;
}

.secao-topo p {
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}

/* SEÇÃO INICIAL COM IMAGEM DE FUNDO */
.secao-background-capa {
    min-height: 500px;
    background-image: url(img/capa.jpg);
    background-size: cover;
}

.secao-background-conteudo {
    text-align: right;
    padding: 50px 20px;
}

/* SEÇÃO CONTEUDO */
.secao-conteudo {
    padding: 50px 20px;
}

.secao-conteudo p {
    margin-left: 10px;
}

.img-conteudo {
    width: 250px;
    height: 180px;
}

.secao-conteudo span {
    border-left: 1px solid;
    padding-left: 10px;
    font-size: 20px;
}

/* SEÇÃO COM IMAGEM DE FUNDO E TEXTO */
.secao-background-divisao {
    padding: 50px 0;
    text-align: center;
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.secao-background-divisao h3 {
    font-size: 36px;
    background-color: #ffffff;
    width: 200px;
    margin: 0 auto;
    border-radius: 20px;
}

.botao-home {
    text-align: center;
    /* margin-bottom: 28px; */
    /* margin-top: 28px; */
}

.botao-home a {
    background-color: #47363e00;
    padding: 6px 42px;
    color: #000000;
    text-decoration: none;
    font-size: 28px;
    border-radius: 20px;
    transition: 0.5s;
    border: 1px solid #47363E;
    font-weight: bold;
}

.botao-home a:hover {
    background-color: #47363E;
}

.direitos-autorais {
    margin-top: auto;
    text-align: center;
    border-top: 1px solid #000000;
    padding: 4px 0 4px 0;
    bottom: 0px;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
}